#dashboard-container {
  height: 462px;
  overflow-y: scroll;
}

.db-card {
  font-family: "Avenir Next";
  color: var(--calcite-ui-text-3);
  background-color: var(--calcite-ui-foreground-1);
  box-shadow: 0 0 0 1px var(--calcite-ui-border-2);
  margin: 10px 5px 0px 5px;
}

.db-card-chart {
  width: 400px;
  height: 250px;
  padding: 0.75rem;
}

.db-card-list {
  width: 400px;
  height: 274px;
  overflow-y: scroll;
}

.pie-chart {
  width: 400px;
  height: 200px;
}

.ditio-image {
  width: 280px;
  object-fit: contain;
}

#ditio-image-preview {
  width: 600px;
  object-fit: contain;
}

.db-chip {
  margin-left: 10px;
}